{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"
          crossorigin="anonymous">

     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"

            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/datatable.min.css' %}" />


    <title>TASK</title>
</head>
<body>
<div class="container-fluid p-2 bg-primary text-white text-center">
    <h1>TASKS</h1>
</div>
<div class="container mt-5">
      <table id="table1" class="table table-striped">
         <thead>
        <tr>
            <th>Task Id</th>
            <th>Task Name</th>
            <th>Account Id</th>
            <th>Opportunity Id</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Created Date</th>
        </tr>
        </thead>
        <tbody>
        {% for x in tasks %}
            <tr>
                <td>{{ x.task_id }}</td>
                <td>{{ x.task_name }}</td>
                <td>{{ x.account_id.account_id }}</td>
                <td>{{ x.opportunity_id.opportunity_id }}</td>
                <td>{{ x.due_date }}</td>
                <td>{{ x.status }}</td>
                <td>{{ x.created_date }}</td>
                <script src="{% static 'js/datatable.js' %}"></script>

            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>

<script src="{% static 'js/datatable.min.js' %}"></script>
</body>
</html>